/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav {
	background-color: #ba68c8;
}
footer .page-footer{
	background-color: #7D32C0;
}
/*
.my-logo {
  background-color: white;
  color: red;
}
*/
a {
  color:#ba68c8;
}

.btn{
background-color: #ba68c8;	
}
.btn-large {
background-color: #ba68c8;	
}

.btn :hover{ 
background-color: #7D32C0;	
}

/* label color */
.editFill-field label {
  color: #c13439; }

/* label focus color */
.editFill input[type=text]:focus + label {
  color: #c13439; }

/* label underline focus color */
.editFill input[type=text]:focus {
  border-bottom: 1px solid #c13439;
  box-shadow: 0 1px 0 0 #c13439; }

/* valid color */
.editFill input[type=text].valid {
  border-bottom: 1px solid #c13439;
  box-shadow: 0 1px 0 0 #c13439; }

/* invalid color */
.editFill input[type=text].invalid {
  border-bottom: 1px solid #c13439;
  box-shadow: 0 1px 0 0 #c13439; }

/* icon prefix focus color */
.editFill .prefix.active {
  color: #c13439; }

